/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, #21292f 0%, #191414 80%);
  align-items: center;
  justify-content: center;
}

.box1 {
  width: 450px;
  height: 450px;
  background-color: aqua;
  border-radius: 20px;
  box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.box2 {
  width: 350px;
  height: 90px;
  background-color: rgb(155, 212, 212);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.box3 {
  width: 275px;
  height: 65px;
  background-color: rgb(52, 63, 63);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
